In [2]:
str = 'Raman'
print(str[0])
print(str[4])
print(str[0:4])
print(str[0]+1) # gives error

R
n
Rama

TypeError: can only concatenate str (not "int") to str

In [4]:
a = 5
print(id(a))
a = 10
print(id(a))
b = 10
print(id(b))  # explore more about this topic

140733005468584
140733005468744
140733005468744

Fresh topic starts from here:

In [5]:
str1= 'I am learning'
str2 = 'python'
print(str1+str2)

I am learningpython

In [6]:
print('el' in 'Hello')
print('Hello ' in 'Hello')

True
False

In [7]:
print('-'*70)

----------------------------------------------------------------------

In [8]:
str1 = "Ramanathan"
print(str1.isalpha())
print(str1.isdigit())
print(str1.isalnum())
print(str1.islower())
print(str1.isupper())
print(str1.startswith('R'))
print(str1.endswith('n'))

True
False
True
False
False
True
True

In [9]:
str1 = "you are learning python now"
print(str1.upper()) # changes to upper
print(str1.lower())
print(str1.capitalize())
print(str1.swapcase()) # upper to lower and lower to upper

YOU ARE LEARNING PYTHON NOW
you are learning python now
You are learning python now
YOU ARE LEARNING PYTHON NOW

In [11]:
print(str1.find('a'))
print(str1.replace('a','b',1)) #replaces 'a' with 'b' one time
print(str1)
print(str1.split())# splitting strings by seeing space
print(str1.split(','))

4
you bre learning python now
you are learning python now
['you', 'are', 'learning', 'python', 'now']
['you are learning python now']

In [15]:
str2 = "you, are, learning, python, now"
print(str2.split())

['you,', 'are,', 'learning,', 'python,', 'now']

In [17]:
str3 = "you, are, learning ',' python, now"
print(str3.split())

['you,', 'are,', 'learning', "','", 'python,', 'now']

In [20]:
str4 = "you are learning python now"
print(str4.partition)

<built-in method partition of str object at 0x00000278DA17C530>

H.W.: Given question in the slide, explore some built in functions.

In [22]:
a = input('Enter first value: ')
b = input('Enter second value: ')

Enter first value: 5
Enter second value: 4

In [23]:
print('Object types of a and b are: ', type(a), type(b))

Object types of a and b are:  <class 'str'> <class 'str'>

In [27]:
c = a+b
print(c)
print(type(c))

54
<class 'str'>

In [28]:
c = int(a)+int(b)
print(c)
print(type(c))

9
<class 'int'>

H.W: given a string convert it to number

In [34]:
a,b = input().split()

2 3

In [36]:
print('a:', a)
print('b:', b)

a: 2
b: 3

In [40]:
a, b = input('Enter value of a and b: ').split()
c = int(a)+int(b)
print(c)

Enter value of a and b: 26 7
33

In [44]:
n, a, s = input('Enter name, age, salary: ').split()
a = int(a)
s = float(s)
print('printing name, age, salary', n, a, s)

Enter name, age, salary: Prabhat 24 12400
printing name, age, salary Prabhat 24 12400.0

H.W: what are various escape sequences??

In [46]:
n, a, s = input('Enter name, age, salary: ').split()
print(n, end=" ")
print(a, end=" ")
print(s, end=" ")

Enter name, age, salary: Prabhat 24 12400
Prabhat 24 12400