In [2]:
#tuple
#empty_tuple = tup()
tup = tuple()
print(type(tup))

<class 'tuple'>

In [3]:
tup1 = (10,)
print(type(tup1))

<class 'tuple'>

In [5]:
tup1 = (10)
print(type(tup1))#this will give another result

<class 'int'>

In [9]:
tup2 = (1,2,3,4,5,6)
print(tup2[2])#printing by giving index

3

In [10]:
tup2[1:4]#slicing

(2, 3, 4)

In [13]:
tup2 = (1,2,3,4,5,6)#tuple is an iterable
for x in tup2:
    print(x, end = ' ')

1 2 3 4 5 6

In [15]:
#tuple operations
tup3 = (1,2,3,4,5,6)
tup3[2] = 10#tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [17]:
tup2 = (1,2,3,4,5,6)
tup3 = (2,3,4)
tup4 = tup2+tup3
print(tup4)

(1, 2, 3, 4, 5, 6, 2, 3, 4)

In [19]:
sorted(tup4)

[1, 2, 2, 3, 3, 4, 4, 5, 6]

In [20]:
tup4[3:7]#deletion by slicing

(4, 5, 6, 2)

In [21]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [22]:
lst = [12,3,45,67]
print(tuple(lst))#converting from list to tuple

(12, 3, 45, 67)

In [24]:
#tuple comaprison
tup1 = (1,2,3,4)
tup2 = (7,8,9,0)
tup1 == tup2

False

In [25]:
tup1 > tup2

False

In [26]:
#we cannot use append in tuple

In [31]:
tup = (x for x in range(1,11))
print(tup, type(tup))

<generator object <genexpr> at 0x0000019470DF5FF0> <class 'generator'>

In [29]:
print(tuple(tup))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [32]:
#what is generator

In [38]:
tup = ((1,2,3),(4,5,6))#tuple of tuples
print(tup)

((1, 2, 3), (4, 5, 6))

In [39]:
tup1 = (1,2)
tup2 = (2,3)
tup3 = (5,6)
tup = (tup1,tup2,tup3)#tuple embedding
print(tup)

((1, 2), (2, 3), (5, 6))

In [40]:
tup4 = (*tup1,*tup2,*tup3)#tuple unpacking
print(tup4)

(1, 2, 2, 3, 5, 6)

In [50]:
#grouping tuples
names = ('Ram','Raja','Geetha','Ramya')
gender = ('male','male','female','female')
#grouping can be done by zip() function
result = zip(names,gender)
print(*result)

('Ram', 'male') ('Raja', 'male') ('Geetha', 'female') ('Ramya', 'female')

In [51]:
for ite in zip(names,gender):
    print(*ite)

Ram male
Raja male
Geetha female
Ramya female

In [ ]:
fruits = ('apples','oranges','grapes','guava')
num_kg = (2,3,5,6)
cost_kg = (10,11,2,3)