## PRABHAT KUMAR(MA23M017)

## Question 1

Write a program to print numbers divisible by both 7 and 8. Numbers between 1 and 1000.

[Numbers like 56, which are both divisible by 7 and 8]

a. Using continue statement

b. Using the pass statement

## Solution

## a.

In [69]:
result = []
for x in range(1,1000):
    if x%7!=0 or x%8!=0:
        continue
    else:
        result.append(x)
        
print('The numbers divisible by both 7 and 8 are stored in a list which is given by: ', result, sep='\n')

The numbers divisible by both 7 and 8 are stored in a list which is given by:
[56, 112, 168, 224, 280, 336, 392, 448, 504, 560, 616, 672, 728, 784, 840, 896, 952]

## b.

In [71]:
result = []
for x in range(1,1000):
    if x%7==0 and x%8==0:
        result.append(x)
    else:
        pass
        
print('The numbers divisible by both 7 and 8 are stored in a list which is given by: ', result, sep='\n')

The numbers divisible by both 7 and 8 are stored in a list which is given by:
[56, 112, 168, 224, 280, 336, 392, 448, 504, 560, 616, 672, 728, 784, 840, 896, 952]

## Question 2

Number 34567222541147 has been given. Print the addition of all even digits and the addition of all odd digits.

[Sample input = 156893, Sample Output: sum_even = 14 , sum_odd = 18]

## Solution:

In [63]:
x = 34567222541147
odd_sum = 0
even_sum = 0

for i in str(x):
    if int(i)%2==0:
        even_sum = even_sum + int(i)
    else:
        odd_sum = odd_sum+int(i)
        
print('Even Sum = ', even_sum)
print('Odd Sum = ', odd_sum)

Even Sum =  24
Odd Sum =  29

## Question 3

Describe conditional expression. Write a program to print the maximum and minimum numbers from a list using conditional expression. Use the max () and min () functions to verify your output.

## Solution:

In [64]:
input_str = input("Enter the numbers separated by spaces: ")
lst = [int(x) for x in input_str.split()]

maximum = lst[0] if lst else None
minimum = lst[0] if lst else None

for x in lst:
    if x >= maximum:
        maximum = x
    if x <= minimum:
        minimum = x
        
print('Maximum Number = ', maximum)
print('Minimum Number = ', minimum)

Enter the numbers separated by spaces: 2 3 -9 8 67 88 -95 32
Maximum Number =  88
Minimum Number =  -95

In [65]:
#using max() and min() function verifying the result

print('Maximum Number using max() function = ',max(lst))
print('Minimum Number using min() function = ',min(lst))

Maximum Number using max() function =  88
Minimum Number using min() function =  -95

## Question 4

Pascalâ€™s  Triangle : Print the following pattern for the given N number of rows.

In [72]:
rows = int(input('Enter the number of rows: '))

def coefficient(n, k):  # Function to get binomial coefficient
    cof = 1
    if k > n - k:
        k = n - k
    for i in range(k):
        cof = cof * (n - i)
        cof = cof // (i + 1)
    return cof


#for printing the triangle
max_digits = len(str(coefficient(rows - 1, rows // 2)))

for x in range(rows):
    
    print(" " * (rows - x - 1) * (max_digits + 1), end=" ")

    for y in range(x + 1):
        coef = coefficient(x, y)
        print(f"{coef:>{max_digits}}", end=" " * (max_digits + 1))

    print()

Enter the number of rows: 8
                       1
                    1    1
                 1    2    1
              1    3    3    1
           1    4    6    4    1
        1    5   10   10    5    1
     1    6   15   20   15    6    1
  1    7   21   35   35   21    7    1

## Question 5

A palindrome sentence is a phrase or sentence that reads the same forward as it does backward, ignoring spaces, punctuation, and capitalization.


A) Take a number as input, determine if it is a palindrome, considering only numeric characters. Eg: 2442


B) Now, take a string as an input and check whether it is Palindrome or not.  eg: "Was it a car or a cat I saw?"

The expected output for this example will print, 'True'

# A.

In [67]:
num = input('Enter a number: ')
temp = num[::-1]
if num==temp:
    print(f'{num} is a palindrome number')

Enter a number: 1221
1221 is a palindrome number

## B.

In [68]:
input_str = input('Enter a string: ')

str1 = ''.join(char.lower() for char in input_str if char.isalnum())

temp = str1[::-1]

if str1==temp:
    print('The given string is a palindrome string')

Enter a string: Was it a car or a cat I saw
The given string is a palindrome string

## Question 6

Describe chr () and ord () functions. Write a small program to show its functionality.Using these functions,write a program to print:

Pattern for N=4

A

B B

C C C

D D D D

In [60]:
#small program to show the functionality of chr() and ord() functions
print(chr(78))
print(ord('N'))

N
78

In [59]:
#using these functions to print the pattern

N = input('Enter the value of N: ')
for i in range(int(N)):
    for j in range(i + 1):
        print(chr(65 + i), end=" ")
    print()

Enter the value of N: 5
A
B B
C C C
D D D D
E E E E E

## Question 7

You have a single list of names (each name should have first name and last name). Write a programme

(a) to print the first names.

(b) to print the last names.

(c) to print each name as 'last_name first_name.

(d) to print the names in the sorted order with respect to last name

Example :Input list: ['Mark Antony', 'Mohan Raj'],

Output :

 a) ['Mark', 'Mohan']  

b) ['Antony', 'Raj'] 

c) ['Antony Mark', 'Raj Mohan']

d) ['Mark Antony', 'Mohan Raj']

## Solution:

## a.

In [11]:
n = input("Enter the number of names: ")
input_names = []

for i in range(int(n)):
    name = input(f'Enter name {i+1}: ')
    input_names.append(name)
    
print('Entered names are: ', input_names)

Enter the number of names: 3
Enter name 1: Prabhat Kumar
Enter name 2: Sourav Manjhi
Enter name 3: Vinod Gangwar
Entered names are:  ['Prabhat Kumar', 'Sourav Manjhi', 'Vinod Gangwar']

## a.

In [58]:
first_names = [name.split()[0] for name in input_names]
print('First names are given by:', first_names, sep='\n')

First names are given by:
['Prabhat', 'Sourav', 'Vinod']

## b.

In [53]:
last_names = [name.split()[1] for name in input_names]
print('Last names are given by:', last_names, sep='\n')

Last names are given by:
['Kumar', 'Manjhi', 'Gangwar']

## c.

In [52]:
last_first = [f'{name.split()[1]} {name.split()[0]}' for name in input_names]
print('Names in reversed order are given by:', last_first, sep='\n')

Names in reversed order are given by:
['Kumar Prabhat', 'Manjhi Sourav', 'Gangwar Vinod']

## d.

In [50]:
sorted_names = sorted(last_first)
sorted_names1 = [f'{name.split()[1]} {name.split()[0]}' for name in sorted_names]
print('Names in sorted order w.r.t. last names are given by:', sorted_names1, sep='\n')

Names in sorted order w.r.t. last names are given by:
['Vinod Gangwar', 'Prabhat Kumar', 'Sourav Manjhi']

## Question 8

WAP to find the minimum of 3 numbers using

a) with conditional expressions. (No loops should be used)

b) with nested conditional expression. (No loops should be used)

c) similar to problem (b), find the minimum of 4 numbers.

## Solution:

## a.

In [51]:
a, b, c = input('Enter the three numbers: ').split()

a = int(a)
b = int(b)
c = int(c)

print('Minimum number is given by: ', end=' ')
print(a if (a<=b and a <= c) else (b if b <= c else c))

Enter the three numbers: 2 4 -9
Minimum number is given by:  -9

## b.

In [57]:
a, b, c = input('Enter the three numbers: ').split()

a = int(a)
b = int(b)
c = int(c)

print('Minimum number is given by: ', end=' ')
print(a if (a<=b) else (b if b <= c else c))

Enter the three numbers: 3 6 9
Minimum number is given by:  3

## c.

In [49]:
a, b, c, d = input('Enter the four numbers: ').split()

a = int(a)
b = int(b)
c = int(c)
d = int(d)

print('Minimum number is given by: ', end=' ')
print(a if (a <= b) else (b if b <= c else (c if c <= d else d)))

Enter the four numbers: 2 3 4 4
Minimum number is given by:  2

## Question 9

Create a list of departments in IIT Madras (Minimum 5 ) and perform the following operations:

1. append
2. remove
3. pop
4. insert 
5. reverse
6. sort
7. count
8. index
9. extend
10. slice
11. clear

In [36]:
input_str = input("Enter the name of departments separated by spaces: ")
lst = [char for char in input_str.split()]
print('Departments are given by: ', lst, sep='\n')

Enter the name of departments separated by spaces: Mathematics ED EE CSE Physics
Departments are given by:
['Mathematics', 'ED', 'EE', 'CSE', 'Physics']

## append

In [37]:
lst.append('Chemistry')
print('After using append function we have list: ', lst, sep='\n')

After using append function we have list:
['Mathematics', 'ED', 'EE', 'CSE', 'Physics', 'Chemistry']

## remove

In [38]:
lst.remove('Physics')
print('After using remove function we have list: ', lst, sep='\n')

After using remove function we have list:
['Mathematics', 'ED', 'EE', 'CSE', 'Chemistry']

## pop

In [39]:
lst.pop()
print('After using pop function we have list: ', lst, sep='\n')

After using pop function we have list:
['Mathematics', 'ED', 'EE', 'CSE']

## insert

In [40]:
lst.insert(4,'Chemistry')
print('After using insert function we have list: ', lst, sep='\n')

After using insert function we have list:
['Mathematics', 'ED', 'EE', 'CSE', 'Chemistry']

## reverse

In [41]:
lst.reverse()
print('After using reverse function we have list: ', lst, sep='\n')

After using reverse function we have list:
['Chemistry', 'CSE', 'EE', 'ED', 'Mathematics']

## sort

In [42]:
lst.sort()
print('After sorting we have list: ', lst, sep='\n')

After sorting we have list:
['CSE', 'Chemistry', 'ED', 'EE', 'Mathematics']

## count

In [43]:
lst.count('CSE')#counts number of occurance of 'CSE'

1

## index

In [44]:
lst.index('Mathematics')#returns the index of 'Mathematics'

4

## extend

In [45]:
lst1 = ['Biotechnology']
lst.extend(lst1)
print('After using extend function we have list: ', lst, sep='\n')

After using extend function we have list:
['CSE', 'Chemistry', 'ED', 'EE', 'Mathematics', 'Biotechnology']

## slice

In [46]:
slice_ = slice(1, 5, 2)
print('After using slice function we have list: ', lst[slice_])

After using slice function we have list:  ['Chemistry', 'EE']

## clear

In [47]:
lst.clear()

In [48]:
print('After clearing:', lst, sep='\n')

After clearing:
[]