In [2]:
#transpose using zip function
arr = [[1,2,3],[4,5,6]]
transpose = [list(column) for column in zip(*arr)]
print(transpose)

[[1, 4], [2, 5], [3, 6]]

In [7]:
arr = [[1,2,3],[4,5,6]]
list(zip(arr[0],arr[1]))

[(1, 4), (2, 5), (3, 6)]

We don't call string as container,why?

In [8]:
#set

In [9]:
set1 = {}
print(type(set1))

<class 'dict'>

In [11]:
#then how to declare an empty set
set1 = set()
print(type(set1))

<class 'set'>

In [16]:
set1 = {10,20,400,50,300}
print(set1)

{400, 50, 20, 10, 300}

In [14]:
set1 = {10,20,300,400,50,10,10,50,400}
print(set1)

{400, 50, 20, 10, 300}

In [17]:
#set is an unordered collection-cannot be indexed and sliced

In [18]:
#H.W. what is frozen set??

In [21]:
set1 = {10,20,300,400,50,10,10,50,400}
len(set1)

5

In [22]:
max(set1)

400

In [23]:
min(set1)

10

In [24]:
sum(set1)

780

In [25]:
sorted(set1)

[10, 20, 50, 300, 400]

In [26]:
10 in set1

True

In [27]:
90 in set1

False

In [28]:
set1.add(8)
set1

{8, 10, 20, 50, 300, 400}

In [31]:
set1.remove(20)
print(set1)

{400, 8, 10, 300}

In [32]:
set1.discard(10)
set1

{8, 300, 400}

In [33]:
#what is the difference between remove and discard??

In [34]:
set1.clear()
set1

set()

In [35]:
set2 = {1,1,12,2,2,2,3}
set2.remove(1)
print(set2)

{2, 3, 12}

In [36]:
#do we have ordered set and unordered set in python

In [37]:
S = {1,2,3,4}
T = {1,2,3,4,5,6}
S.issuperset(T)

False

In [38]:
S.issubset(T)

True

In [39]:
S.isdisjoint(T)

False

In [40]:
S>T

False

In [41]:
S<T

True

In [42]:
S.update(T)
S

{1, 2, 3, 4, 5, 6}

In [43]:
S==T

True

In [44]:
#S is object, . is operator and update is member function

In [46]:
set3 = {{1,2},{2,3}}
print(set3)#it will not work

TypeError: unhashable type: 'set'

In [50]:
set1 = {1,2}
set2 = {3,4}
set3 = {set1,set2}#set embedding is not allowed

TypeError: unhashable type: 'set'

In [51]:
set3 = {*set1,*set2}#set unpacking
print(set3)

{1, 2, 3, 4}

In [53]:
#set comprehension
setA = {x for x in range(10)}
print(setA)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
setA = set()
for x in range(8):
    setA.add(x)
print(setA)

{0, 1, 2, 3, 4, 5, 6, 7}

In [59]:
setB = {x**2 for x in range(1,10)}
print(setB)

{64, 1, 4, 36, 9, 16, 49, 81, 25}